<!DOCTYPE html>
<html ng-app='app'>
    <head>
        <link rel='stylesheet' href='../node_modules/bootstrap/dist/css/bootstrap.css' >
        <link rel='stylesheet' href='style.css' >
    </head>
    <body ng-controller='main as main'>
        <div class='container-fluid'>
            <section class='row'>
                <aside class='col-md-3 col-sm-3'>
                    <div class='form-group'>
                        <input type='text' placeholder='filter' tabindex='4' class='form-control' ng-model='filterString' >
                    </div>
                    <div class='clearfix'
                        ng-repeat='anote in main.notes | filter:filterString | limitTo:10'>
                        <button type="button" ng-click='main.remove(anote)' class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class='bold'>
                            <a href ng-click='main.open(anote)'>
                                {{ anote.name }}
                            </a>
                        </div>
                        <div class='small hidden-xs '>{{ anote.text|shorten }}</div>
                        <hr ng-if='!$last' class='hidden-xs' />
                    </div>
                </aside>

                <main class='col-md-9 col-sm-9'>
                    <br class='visible-xs-block' />

                    <form class='form form-horizontal'>

                        <div class='form-group'>

                            <div class='col-xs-6 col-sm-2'>
                                <button tabindex='5' type='button'
                                    ng-click='main.create()'
                                    class='btn btn-info btn-block btn-lg'>new</button>
                            </div>

                            <div class='col-xs-6 col-sm-2 col-sm-push-8'>
                                <button tabindex='3' type='submit'
                                    ng-class='{ "btn-danger" : main.overwriting, "btn-success" : main.isnew  }'
                                    ng-click='main.save()'
                                    ng-disabled='!main.note.name'
                                    class='btn btn-block btn-lg'>save</button>
                            </div>

                            <div class='visible-xs-block clearfix' >
                                <br />
                            </div>

                            <div class='col-sm-8 col-sm-pull-2'>
                                <input placeholder='name' tabindex='1' type='text' class='form-control input-lg' ng-model='main.note.name' >
                            </div>

                        </div>

                        <div class='form-group'>
                            <div class='col-md-12'>
                                <textarea placeholder='main.note...' tabindex='2' class='form-control' rows='20' ng-model='main.note.text'></textarea>
                            </div>
                        </div>

                    </form>
                </main>
            </section>

        </div>

        <script src='../dist/bundle.js' ></script>

    </body>
</html>
